{% extends "layout.html" %}

{% block title %}
    TODO
{% endblock %}

{% block main %}
    <div style="text-align:center; color:#E7DFDD; font-size:45px; padding-top:25px;">
        TODO: {{ missing }}
    </div>
    <img style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);" src="https://i.guim.co.uk/img/media/327e46c3ab049358fad80575146be9e0e65686e7/0_0_1023_742/master/1023.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=331a1bc4f5d7a96a6131f4f142065662" style="height:500px; width:auto;">
{% endblock %}